/* Dark Menu */
.body-dark {
    background: #1C1E21;
}
/* Dark Menu */

/* Dark Calculadora */
.body-dark .calculator-grid {
    background-color: #040404;    
    border: 4px solid rgba(255, 255, 255, 0.150);
}

.body-dark .output {
    background-color: #1c1c1c;
    box-shadow: 5px 5px 0px #2549fdb2;
    color: white;
}

.body-dark .calculator-grid>button {
    border: 2px solid rgba(255, 255, 255, 0.200);
    background-color: #040404;
    color: white;
    box-shadow: 5px 5px 0px rgba(255, 255, 255, 0.200);
}

.body-dark .calculator-grid>button:hover {
    background-color: #ffffff45;
}

.body-dark .calculator-grid>button.operations {
    box-shadow: 5px 5px 0px #2549fdb2;
    color: #2f50f5;
    border: 3px solid #2f50f5;
}

.body-dark .calculator-grid>button.operations:hover {
    background-color: #2f50f5;
    color: white;
}

.body-dark .calculator-grid>button.equal {
    background-color: #2f50f5;
    box-shadow: 5px 5px 0px #2549fdb2;
    color: white;
    border: 3px solid #2f50f5;
}

.body-dark .calculator-grid>button.equal:hover {
    background-color: white;
    color: #2f50f5;
    box-shadow: 5px 5px 0px #2549fdb2;
    border: none;
}
/* Dark Calculadora */

/* Dark Temperaturas */
.body-dark .titles {
    color: white;
}

.body-dark input {
    color: white;
}

.body-dark input::placeholder {
    color: white;
}
/* Dark Temperaturas */

/* Dark Distâncias */
.body-dark .inputTypes {
    background-color: transparent;
    border: 2px solid #2f50f5;
    color: white;
}

.body-dark .inputTypes option {
    color: #2f50f5;
}

.body-dark .resultTypes {
    background-color: transparent;
    border: 2px solid #2f50f5;
    color: white;
}

.body-dark .resultTypes option {
    color: #2f50f5;
}

.body-dark .arrow-values{
    color: white;
}

.body-dark .arrow-result{
    color: white;
}
/* Dark Distâncias */